<!DOCTYPE HTML>
<html>
  <head>
  <!-- ここから -->
    <meta charset="UTF-8" />
    <title>ねこめも</title>
  <!-- ここまでにhead要素を書きます -->
  </head>
  <body>
    <h1>Timeline建設予定地</h1>

<!-- 投稿フォーム -->
    <%= form_for(@memo, url: '/uketori', method: 'post') do |f| %>
      <%= f.text_area :text, placeholder: "今日のメモ" %>
      <%= f.submit "書き込む" %>
    <% end %>

<!-- ここからタイムライン表示 -->
    <% @memos.each do |memo| %>
      <ul>  
        <li>
        <%= memo.updated_at %><br>
        <%= memo.text %>
        </li>
      </ul>
    <% end %>


  </body>
</html>


